<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Desafio1</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <label for="age">Informe a sua idade:</label>
      <input type="text" name="age" />
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
